@using MVCHarjoitustyö.Models
@using MVCHarjoitustyö.ObjectModels
@model RoleInfoViewModel
@{
    ViewBag.Title = "RoleInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

<style>
    td {
        padding: 6px;
    }

    .hoverClass:hover {
        background-color: #d8e7ff;
    }

    #addSection{
        height: 0px;
        margin-top: 30px;
        overflow: hidden;
    }
</style>

<h2>@Model.role.Name käyttäjät</h2>

<div>
    <div style="height: 80%;">
        @using (Html.BeginForm())
        {
            <table id="userTable" style="width: 100%; margin-top: 40px;">
                <col width="50" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="100" />
                <tr style="line-height: 40px">
                    <td><b>ID</b></td>
                    <td><b>Etunimi</b></td>
                    <td><b>Sukunimi</b></td>
                    <td><b>Käyttäjänimi</b></td>
                    <td><b>Roolit</b></td>
                </tr>

                @for (int i = 0; i < Model.roleUsers.Count; i++)
                {
                    <tr class="hoverClass">
                        <td>@Model.roleUsers.ElementAt(i).Id</td>
                        <td>@{WriteLiteral(Model.roleUsers.ElementAt(i).FirstName != null ? Model.roleUsers.ElementAt(i).FirstName : "-");}</td>
                        <td>@{WriteLiteral(Model.roleUsers.ElementAt(i).LastName != null ? Model.roleUsers.ElementAt(i).LastName : "-");}</td>
                        <td>@Model.roleUsers.ElementAt(i).UserName</td>
                        <td>
                            @{
                                var roles = Model.roleUsers.ElementAt(i).GetRoles();
                                if (roles != null)
                                {
                                    for (int j = 0; j < roles.Length; j++)
                                    {
                                        if (j < roles.Length - 1)
                                        {
                                            WriteLiteral(roles[j].Name + "<br>");
                                        }
                                        else
                                        {
                                            WriteLiteral(roles[j].Name);
                                        }
                                    }
                                }
                                else
                                {
                                    WriteLiteral("-");
                                }
                            }
                        </td>
                        <td><a href="#" onclick="removeUser(@Model.roleUsers.ElementAt(i).Id)">Poista</a></td>
                    </tr>
            }
            </table>
    }
    </div>
    <button id="addUsersBtn" style="margin-top: 10px; width: 130px;" onclick="AnimateAddSection()">Lisää käyttäjiä...</button>
    <div id="addSection">
        <input id="query" style="float: left" type="text" oninput="OnQuery()" placeholder="Hae käyttäjiä..." />
        <select id="resultList" size="10" style="width: 300px; height: 200px; margin-left: 50px;" multiple ondblclick="addUser(this.value)"></select>
    </div>
    
</div>

<script>
        function OnQuery()
        {
            document.getElementById("resultList").innerHTML = "";
            var text = document.getElementById("query").value;
            $.getJSON("/user/searchUsers?query=" + text, function (result) {
                for(var i = 0; result.length > i; i++)
                {
                    console.log(result[i]);
                    document.getElementById("resultList").innerHTML += "<option>" + result[i]["Id"] + "    " + result[i]["FirstName"] + " " + result[i]["LastName"];
                }
            });
        }

        function removeUser(userId)
        {
            $.ajax({url: "/userrole/removeuserrole?userId=" + userId + "&roleId=" + @Model.role.Id, success: function(result)
            {
                $.getJSON("/userrole/roleusers?roleid=" + @Model.role.Id, function(result){
                    var table = document.getElementById("userTable");
                    table.innerHTML = "";
                    for(var i = 0; result.length > i; i++)
                    {
                        console.log(result[i]);
                        table.innerHTML += '<tr class="hoverClass"><td>' + result[i]["Id"] + '</td><td>' + result[i]["FirstName"] + '</td><td>'
                            + result[i]["LastName"] + '</td><td>' + result[i]["UserName"] + '</td><td></td><td><a href="/UserRole/RemoveUserRole?userId=' + result[i]["Id"] +'&roleId=1">Poista</a>';
                    }
                });
            }});
        }

        function addUser(userString)
        {
            var id = userString.split(" ")[0];
            $.getJSON("/user/adduserrole?userid=" + id + "&roleid=" + @Model.role.Id, function(result){
                document.getElementById("userTable").innerHTML += '<tr class="hoverClass"><td>' + id + '</td><td>' + result["FirstName"] + '</td><td>'
                + result["LastName"] + '</td><td>' + result["UserName"] + '</td><td></td><td><a href="/UserRole/RemoveUserRole?userId=' + result["Id"] +'&roleId=1">Poista</a>';
            });
        }

        function AnimateAddSection()
        {
            if($("#addSection").height() == 0)
            {
                $("#addSection").animate({ height: "220px" });
                document.getElementById("addUsersBtn").innerHTML = "Piilota";
                document.getElementById("query").focus();
            }
            else
            {
                $("#addSection").animate({ height: "0px" });
                document.getElementById("addUsersBtn").innerHTML = "Lisää käyttäjiä...";
            }
        }

</script>


