@using MVCHarjoitusTyö.Models
@{
    ViewBag.Title = "Add contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AddViewModel

<style>
    .error
    {
        border: 2px solid red;
    }
</style>

<script type="text/javascript">
    function validate()
    {
        var firstname = document.getElementById("firstname").value;
        var lastname = document.getElementById("lastname").value;
        alert(firstname + " " + lastname);
        if (firstname == "" || lastname == "")
        {
            alert("Fill all required fields!");
            firstname.className = "error";
            lastname.style.borderColor = "red";
        }
        else
        {
           // document["form"].submit();
        }
        return;
    }

    function cancel()
    {
        window.history.back();
    }
</script>

<h2>Add contact</h2>


<div>
    @using (@Html.BeginForm("Create", "Contact", FormMethod.Post))
    {
    <table style="margin-left: 15%;">
        <tr><td>
            @Html.Label("Firstname: ")</td><td>
            <input id="firstname" style="float: right" type="text" placeholder="Firstname" name="firstname" />
        </tr>
        <tr><td>
    @Html.Label("Lastname: ")
</td>
<td>
    <input id="lastname" type="text" placeholder="Lastname" name="lastname" />
</tr>
        <tr><td>
    @Html.Label("Phonenumber: ")
</td>
<td>
    <input type="text" placeholder="Phonenumber" name="phonenumber" />
</tr>
        <tr><td>
    @Html.Label("Email: ")
</td>
<td>
    <input type="text" placeholder="email" name="Email" />
</tr>
        <tr><td>
    @Html.Label("Address")
</td>
<td>
</tr>
        <tr><td>
    @Html.Label("Streetname: ")
</td>
<td>
    <input type="text" placeholder="Streetname" name="street" />
</tr>
        <tr><td>
    @Html.Label("Housenumber: ")
</td>
<td>
    <input type="text" placeholder="Housenumber" name="housenumber" />
</tr>
        <tr><td>
    @Html.Label("ZIP-code: ")
</td>
<td>
    <input type="text" placeholder="ZIP-code" name="zip" />
</tr>
        <tr><td>
    @Html.Label("Country: ")
</td>
<td>
    <input type="text" placeholder="Country" name="country" />
</tr>
    </table>
        <br />
        
        
    }
<div style="margin-left: 16%">
    <button onclick="validate()">Validate</button>
    <button onclick="cancel()">Cancel</button>
</div>
</div>

